@import url("https://fonts.googleapis.com/css?family=Nova+Square|Varela+Round");

body {
 font-size: 20px;
}

p {
  box-shadow: 0.5rem 0.5rem 2rem black;
}

/* Rectangle state */
div p {

    color: rgba(0, 0, 0, 0);
    background-color: red;
    border-radius: 50%;
    transition: all 1s;
  
}

/* Ellipse state */
div p:hover {
 

  position: relative;
  width: 40rem;
  margin: 1rem;
  padding: 1rem;
  
  font-family: "Nova Square", cursive;
  font-size: 2rem;
  text-align: center;

  color: black;
  background-color: yellow;
  border: 0.5rem dashed red;
  
  transition: all 1s;
}

/* Revealing label initial state (invisible) */
div p::after {
    color: white;
  
    transition: all 1s;
  
}

/* Revealing label final state (visible) */
div p:hover::after {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 40rem;
  padding: 1rem;

  font-family: "Varela Round", sans-serif;
  text-align: center;
  content: "Now it is an ellipse!";
  color: rgba(255, 255, 255, 0);
  
  transition: all 1s;
}
