*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-color: #f07e22;
    /* background: linear-gradient(135deg, #ff8e32, #ff5263); */
    background-position: center;
    background-size: cover;
    height: 960px;
    
}

.navbar{
    width: auto;
    height: 75px;
    background-color: #fff;
    padding-left: 100px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    float: left;
    width: 200px;
    height: 70px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease ease-in-out;

}
ul li a:hover{
    color: #f07e22;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;

}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #f07e22;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #f07e22;
    border: 2px solid #f07e22;
    margin-top: 13px;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.home{
    width: 100%;
    background: #f07e22;
    height: 109vh;
}
.content{
    width: 1200px;
    height: 550px;
    margin: auto;
    color: #fff;
    position: relative;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 70px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    
    

}
.content .cn{
    width: 160px;
    height: 40px;
    background: rgb(242, 242, 243);
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border-color: rgb(238, 231, 231);
}
.content .cn a{
    text-decoration:  none;
    color: #000;
    transition: .3s ease;

}
.cn:hover{
    background:#f07e22;
    border-color: #fff;
}
.form{
    width: 250px;
    height: 380px;
    position: absolute;
    top: 70px;
    left: 870px;
   border-radius: 2px solid;
    padding: 25px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2),15px 15px 15px rgba(0,0,0,0.1);

}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 22px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    color: #ffff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;

}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #fff;
    border: 2px solid;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.sign{
    font-size: 20px;
}
.btnn:hover{
    background: #f07e22;
    color: #fff;

}
.btnn a:hover{
color: #fff;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #f07e22;
    border: 2px solid;


}
.link a:hover{
    color: #fff;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
/* .grdcap{
    margin-bottom: 100px;
} */
.amit-h1{
    width: 300px;
    display: inline-block;
    transform: rotate();
    padding-left: 20px;
    margin-top: 9%;
}
.box1{
    display: flex;
}
.box{
    display: flex;
    align-items: center;
    height: 408px;
    padding-bottom: 10px;
}
/* course page */
.crse{
    width: 100%;
    height: 150px;
    background-color: #fff;
}
/* intern */
.intern{
    width: 100%;
    height: 600px;
    background: #f07e22;
}
.pic1{
  width: 300px;
  height: 300px;
}
/* ********************************************** */
.sec1 .top{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  font-weight: 650;
  color: #f07e22;
  margin-bottom: 1rem;
}

.sec1 .top img{
  width: 350px;
  margin-bottom: 1.5rem;
}

.sec1 .middle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.sec1 .middle .card{
  background: #f2f2f2;
  border-radius: 10px;
  padding: 15px 15px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: rgba(128, 128, 128, 0.404) 0px 5px 10px 0px;
}

.sec1 .middle .card img{
  width: 230px;
  height: 250px;
}

.sec1 .middle .card h4{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #f07e22;
}

.sec1 .middle .card p{
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 25px;
}

.sec1 .middle .card button{
  background: transparent;
  color: #f07e22;
  font-size: 17px;
  font-weight: 500;
  border-top: transparent;
  border-bottom: 2.7px solid #f07e22;
  border-left: transparent;
  border-right: transparent;
  padding-bottom: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sec1 .middle .arrow{
  transform: rotate(180deg);
  opacity: 0.3;
}

.sec1 .bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sec1 .bottom button{
  padding: 15px 55px;
  font-size: 16px;
  background:#f07e22;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.sec1 .bottom img{
  width: 150px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* ********************************************** */

/* ************  course  **************/

/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
/* body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
} */
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
  transition: 30ms;
  transition-timing-function: ease-in-out;
}
.card:hover{
  transform: scale(1.1);
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 14px;
  background: #f4f5f8f7;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f07e22;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #f07e22;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #f4f5f8f7;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #f07e22;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #ce8e35;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}





/*   ************** course  ******************* */
/* * { box-sizing: border-box; } */

body { font-family: sans-serif; }
.ldr{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  font-weight: 650;
  font-style: italic;
  color: #f07e22;
  margin-bottom: 1rem;
}

.carousel {
  background: transparent;
  padding: 62px
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #fff;
  border-radius: 5px;
  counter-increment: carousel-cell;
  position: relative;
  
}

.carousel-cell.is-selected {
  background: rgb(144, 68, 68);
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
}
.carousel-cell svg
{
    position: absolute; 
    top:0; 
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel-cell svg path
{
    transform: translate(45%,60%) scale(1.5);
}
 
/* *************************************** About us ******************************************* */
/* ---------------card ias------------ */
.sec2 .card-abt {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 4rem; */
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 4px 10px;
  box-shadow: #75757571 0px 10px 20px 0px;
  position: relative;
  width: calc(100% /1.5);
  /* margin-left: 1.5rem; */
}


 .abt {
  padding: 10px 60px;
  background: linear-gradient(135deg, #5e70ff, #8b40ff);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 0;
}

.img{
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.img img{
  width: 12rem;
  height: 12rem;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -2rem;
  margin-top: 3.5rem;
}

 .text img{
  width: 10rem;
  margin-top: -10px;
  margin-bottom: 30px;
}
 .text p{
  margin-top: 10px;
  color:#707070;;
  text-align: justify;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

.text button{
  padding: 15px 55px;
  font-size: 16px;
  background: linear-gradient(135deg, #ff8e32, #ff5263);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-top: 2rem;
}

/* ***************************************** */
footer img{
    z-index: 1008;
    width: 100%;
}

footer .india-course{
    background:#f07e22;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    padding-left: 3rem;
    padding-right: 1rem;
    padding-bottom: 20px;
}

footer .india-course .course, .exams-classes, .exam-resources, .company-follow, .free-textbook-solution, .state-boards{
    display: inline-grid;
    width: 17%;
    min-height: 1px;
}

footer .india-course .course p, .exams-classes p, .exam-resources p, .company-follow p, .free-textbook-solution p, .state-boards p{
    color: #000;
    font-weight: 500;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer .india-course .course a, .exams-classes a, .exam-resources a, .company-follow a, .free-textbook-solution a, .state-boards a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 5px;
}

footer .india-course .course a:hover, .exams-classes a:hover, .exam-resources a:hover, .company-follow a:hover, .free-textbook-solution a:hover, .state-boards a:hover{
    font-weight: 500;
}

footer .india-course .company-follow .follow{
    display: flex;
}

footer .india-course .company-follow .follow img{
    width: 30px;
}
footer hr{
    height: 1px;
    background: rgba(179, 179, 179, 0.582);
    border: none;
    width: 93%;
    margin-left: 45px;
}

footer .bottom{
    background: #f07e22;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 3rem;
    font-size: 13px;
}

footer .bottom .pages a{
    color: white;
    text-decoration: none;
}

footer .bottom .pages ion-icon{
    transform: rotate(90deg);
    font-size: 30px;
    margin-bottom: -10px;
}

footer .bottom .copyright{
    margin-top: 10px;
}
